
.clipboard {
	border: 1px solid;
	width: 500px;
	height: 500px;
	float: right;
	margin-top: 25px;
	margin-right: 5px;
	background-color: #4d3300;
}

.left {
	max-width: 200px;
	float: left;
}

.images {
	width: 220px;
	height: 250px;
}

.images img {
	cursor:move;
}

.clipboard img {
	margin-left: 2px;
}

#drag {
	position: absolute;
	pointer-events: none;
}

img {
	-webkit-user-select:none;
}
